body { 
	  margin: 0px;
      padding: 0px;}

     .container {
     	background-color: cadetblue;
     	color: white;
     	text-align: center;

     	padding:50px ;
     	margin: 50px;
     }

     .white {
     	color: white;
     }

     input[type=number] {
     	background-color: darkblue;
     	color: white;
     	padding: 7px;
     }

    .btn {
        background-color: darkblue;
        color: white;
        padding: 7px;
     }

     .btn1 {
        background-color: darkblue;
        color: white;
        padding: 7px;
     }